In [8]:
import os
import pandas as pd
from src.config.config import MODEL_HISTORY_PATH

In [9]:
df=pd.read_csv(MODEL_HISTORY_PATH).sort_values('mae', ascending=False)

In [10]:
df

         model_name        mae         mse       rmse  r2_score   params
0  LinearRegression  15.032083  169.211632  13.008137  0.205887  default
1  LinearRegression  10.032083  169.211632  13.008137  0.205887  default

In [11]:
df.to_csv('sss.csv', index=False)

In [12]:
df=pd.read_csv('sss.csv').sort_values('mae', ascending=False)
df

         model_name        mae         mse       rmse  r2_score   params
0  LinearRegression  15.032083  169.211632  13.008137  0.205887  default
1  LinearRegression  10.032083  169.211632  13.008137  0.205887  default